/*google fonts - poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}
/*
/* background color*/
body{
    background: #4285f4;
}

header {
    margin: 50px 180px ;
    height: 150px;
    background-color: grey;
    text-decoration-color: brown;
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
    

}
h2 {
    text-align: center;
    font-size: 25px;
}

/* custom genre select menu */

.Wrapper{
    width: 370px;
    margin: 130px left 0;
}
.select-btn, .options li{
    display: flex;
    cursor: pointer; 
    align-items: center;
}
.select-btn{
    height: 65px;
    font-size: 22px;
    padding: 0 20px;
    border-radius: 7px;
    background: white;
    justify-content: space-between;

}
/* rotates the select buton ^ */
.select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear ;
}
.Wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    margin-top: 15px;
    padding: 20px;
    border-radius: 7px;
    background: white;
}

.Wrapper.active .content{
    display: block;
}
.content .search{
    position: relative;

}
/* this is the little magnify glass icon*/
.search i{
    left: 15px;
    
    color: #999;
    font-size: 20px;
    line-height: 53px;
    position: absolute;
}

.search input{
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid grey;
}
/* this adjust the dropdown menu margins*/
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;

}

.options::-webkit-scrollbar{
    width: 7px;
}

.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;

}


.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}

.options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
    border-radius: 5px;

}
.options li:hover{
    background: #f2f2f2;

}

/*    
.container{
        height:100vh;
        width: 100%;
        /* add logo in the baackground?
        background-image: "  ";
        background-size: cover;
        background-position: center;
        position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center; 
    justify-content: space-between;

}
.logo{
    width: : ;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;

}

*/
